.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

a {
  color: #31b2ca !important;
}

.App-logo {
  height: 40vmin;
}

.main {
  background-color: #EBEFF8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: #5A5973;
}

.navbar-wrapper {
  box-shadow: 0 2px 9px rgba(186, 186, 186, 0.15);
}

a.navbar-brand {
  font-weight: 900;
  color: #5A5973 !important;
  font-size: 2rem;
}

.navbar-nav a {
  background-color: #FA6D7A;
  padding: 0.5em 2em !important;
  color: #fff !important;
  font-weight: 900;
  border-radius: 10px;
  transition: all 0.25s ease-out;
}

.navbar-nav a:hover {
  background-color: #e65361;
  transform: translateY(2px);
  transition: all 0.25s ease-out;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.welcome-wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

.welcome {
  background-color: #F7E5E9;
  border-radius: 20px;
  padding: 50px !important;
  transition: all 0.25s ease-out;
}

.welcome:hover {
  transform: translateY(2px);
  transition: all 0.25s ease-out;
}

.welcome h1 {
  color: #FA6D7A;
}

.section-wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px !important;
}

.stops-list {
  overflow: auto;
  max-height: 450px;
}

.card-sticky {
  position: -webkit-sticky;
  position: sticky !important;
  top: 2rem;
}

.btn-primary {
  background-color: #31B2CA !important;
  padding: 0.75em 2em !important;
  color: #fff !important;
  font-weight: 900 !important;
  border-radius: 10px !important;
  transition: all 0.25s ease-out;
  border: none !important;
}

.btn-primary:hover {
  background-color: #1c9fb7 !important;
  transform: translateY(2px);
  transition: all 0.25s ease-out;
}

.active {
  color: #31B2CA !important;
  font-weight: bold;
}

.active .stop-item {
  border-bottom: 1px solid rgba(49, 178, 202, 0.67) !important;
}

.stop-item {
  padding: 1em 0;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  margin-right: 15px;
}

.stop-item p {
  padding: 0px;
  margin: 0px;
}

footer {
  height: 74px;
  line-height: 74px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #faa0ae;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa6d7a;
}

::-webkit-scrollbar-thumb:active {
  background: #fa6d7a;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: #d8d8d8;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin: 30px 0px;
  }

  .stops-list {
    max-height: 250px;
  }
}